In [ ]:
import pandas as pd
import numpy as np

**RandomForest**

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/5001train.csv") # load data

In [ ]:
data.head()

   id  MO HLADR+ MFI (cells/ul)  ...  Mono CD64+MFI (cells/ul)  label
0   0                    3556.0  ...                    7515.0      1
1   1                    1906.0  ...                    1756.0      0
2   2                    1586.0  ...                    1311.0      0
3   3                     683.0  ...                    1443.0      0
4   4                    1032.0  ...                    1542.0      0

[5 rows x 13 columns]

In [ ]:
data['label'].describe()

count    87.000000
mean      0.333333
std       0.474137
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: label, dtype: float64

In [ ]:
# preprocess
data.dropna(inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split
X = data.iloc[:, 1:12] 
y = data.iloc[:, 12]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
# train
clf = RandomForestClassifier(n_estimators=20, max_depth=8, random_state=0, class_weight="balanced", criterion='entropy')
clf.fit(X_train, y_train)

RandomForestClassifier(class_weight='balanced', criterion='entropy',
                       max_depth=8, n_estimators=20, random_state=0)

In [ ]:
from sklearn.metrics import accuracy_score
# predict and evaluation
y_predict = clf.predict(X_test)
print(accuracy_score(y_predict, y_test))

0.9444444444444444

In [ ]:
test_data = pd.read_csv("/content/drive/MyDrive/5001test.csv")
test_data.head()
test_x = test_data.iloc[:, 1:] # 共十一个标签

In [ ]:
result = pd.DataFrame(clf.predict(test_x))

In [ ]:
id = pd.DataFrame(np.arange(0, result.size))

In [ ]:
submission = pd.concat([id, result],axis=1)
submission.columns=['id', 'label']

In [ ]:
submission.to_csv('/content/drive/MyDrive/5001submission.csv',index=False)

In [ ]:
# save model
from joblib import dump, load
dump(clf, '/content/drive/MyDrive/5001model.joblib')

['/content/drive/MyDrive/5001model.joblib']

In [ ]:
# load model 
clf = load('/content/drive/MyDrive/5001model.joblib')

In [ ]:
clf.predict(X)

array([1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1])